#game-canvas{
    width: 100%;
    height: 40px;
    display: block-inline;
    text-align: center;
    vertical-align: text-top;
}

#game-canvas .item{
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background-color: #F0D1B1;
    vertical-align: text-top;
    margin: 0 2px;
    color: #433233;
    border: solid 1px #433233;
}

.game-cont{
    margin: 15px 0;
    background-color: #e1cfb0;
    padding: 10px 0;
    border-radius: 5px;
}

#second{
    border: solid 2px #433233;
    height: 100px;
    color: #804e42;
    font-size: 64px;
}